<!DOCTYPE html>
<!--/* $Id$ */-->
<html xmlns:th="http://www.thymeleaf.org" th:xmlns="@{http://www.w3.org/1999/xhtml}">
  <head>
    <meta charset="UTF-8"/>
    <title th:if="${title != null}" th:text="${title}"/>
    <meta th:if="${description != null}" name="description" th:content="${description}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <link rel="stylesheet"/>
    <style/>
    <th:block th:if="${gaid != null}" th:insert="~{google-adsense}"/>
  </head>
  <body>
    <th:block th:insert="~{browserupgrade}"/>
    <header>
      <nav>
        <a th:text="${brand ?: 'Home'}" th:href="@{/}"/>
        <ul>
          <li sec:authorize="hasAuthority('AUTHOR')">
            <button th:text="'Author'"/>
            <ul>
              <li><a th:text="'Preview'" th:href="@{/preview/}"/></li>
            </ul>
          </li>
          <li sec:authorize="hasAuthority('SUBSCRIBER')">
            <button th:text="'Subscriber'" th:disabled="${true}"/>
            <ul>
            </ul>
          </li>
          <li>
            <button th:text="'Collections'"/>
            <ul>
              <li><a th:text="'Authors'" th:href="@{/authors/}"/></li>
            </ul>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a th:text="'Login'" th:href="@{/login}"/>
          </li>
          <li sec:authorize="isAuthenticated()">
            <button sec:authentication="name"/>
            <ul>
              <li><a th:text="'Change Password'" th:href="@{/password}"/></li>
              <li><a th:text="'Logout'" th:href="@{/logout}"/></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main th:unless="${#ctx.containsVariable('exception')}"
          th:switch="${#request.servletPath}">
      <section th:case="'/error'">
        <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
        <h2 th:text="${#request.getAttribute('javax.servlet.error.status_code')}"/>
        <p th:text="${#request.getAttribute('javax.servlet.error.message')}"/>
      </section>
      <section th:case="*">
        <th:block th:if="${#ctx.containsVariable('form')}">
          <th:block th:insert="~{${#execInfo.templateName + '/' + form.class.simpleName}}"/>
        </th:block>
        <table th:if="${#ctx.containsVariable('articles')}">
          <tbody>
            <tr th:ref="article-row" th:each="article : ${articles}">
              <td>
                <a th:href="@{/article/{slug}/(slug=${article.slug})}">
                  <h1 th:text="${article.title}"/>
                </a>
                <a th:text="${article.author.name}"
                   th:href="@{/articles/(author=${article.author.slug})}"/>
              </td>
            </tr>
          </tbody>
        </table>
        <article th:if="${#ctx.containsVariable('article')}">
          [(${article.html})]
        </article>
        <table th:if="${#ctx.containsVariable('authors')}">
          <tbody>
            <tr th:ref="author-row" th:each="author : ${authors}">
              <td>
                <a th:text="${author.name ?: author.slug}"
                   th:href="@{/articles/(author=${author.slug})}"/>
              </td>
              <td>
                [(${author.html})]
              </td>
            </tr>
          </tbody>
        </table>
        <p th:if="${#ctx.containsVariable('exception')}" th:text="${exception}"/>
      </section>
    </main>
    <main th:if="${#ctx.containsVariable('exception')}">
      <section>
        <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
        <p th:text="${exception.message}"/>
      </section>
    </main>
    <footer>
      <nav>
        <span th:text="${#request.servletPath}"/>
        <span>
          <th:block th:if="${#ctx.containsVariable('page')}">
            <a th:with="number = ${1}"
               th:text="'|<'"
               th:href="@{''(page=${number})}"/>
            <a th:with="number = ${page.number + 0}"
               th:text="'<'"
               th:class="${! page.hasPrevious()} ? disabled"
               th:href="@{''(page=${number})}"/>
            <a th:with="number = ${page.number + 1}"
               th:text="${number}"
               th:href="@{''(page=${number})}"/>
            <a th:with="number = ${page.number + 2}"
               th:text="'>'"
               th:class="${! page.hasNext()} ? disabled"
               th:href="@{''(page=${number})}"/>
            <a th:with="number = ${page.totalPages > 0 ? page.totalPages : 1}"
               th:text="'>|'"
               th:href="@{''(page=${number})}"/>
          </th:block>
        </span>
        <span>
          <th:block sec:authorize="isAuthenticated()">
            <span sec:authentication="authorities"/>
          </th:block>
        </span>
      </nav>
    </footer>
    <script/>
    <th:block th:if="${gtid != null}" th:insert="~{google-analytics}"/>
  </body>
</html>
