<!--/* $Id$ */-->
<ul>
  <li sec:authorize="hasAuthority('AUTHOR')">
    <button th:text="'Author'"/>
    <ul>
      <li><a th:text="'Preview'" th:href="@{/preview/}"/></li>
    </ul>
  </li>
  <li sec:authorize="hasAuthority('SUBSCRIBER')">
    <button th:text="'Subscriber'" th:classappend="'disabled'"/>
    <ul>
    </ul>
  </li>
  <li>
    <button th:text="'Collections'"/>
    <ul>
      <li><a th:text="'Authors'" th:href="@{/authors/}"/></li>
    </ul>
  </li>
  <li sec:authorize="!isAuthenticated()">
    <a th:text="'Login'" th:href="@{/login}"/>
  </li>
  <li sec:authorize="isAuthenticated()">
    <button th:text="'Account'"/>
    <ul>
      <li><a th:text="'Change Password'" th:href="@{/password}"/></li>
      <li><a th:text="'Logout'" th:href="@{/logout}"/></li>
    </ul>
  </li>
</ul>
