<!-- $Id$ -->
<div class="jumbotron">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form class="form-signin" th:action="@{/login}" method="post">
        <th:block th:with="name = 'username', type = 'email', label = 'E\'mail Address'">
          <label class="sr-only" th:for="${name}" th:text="${label}"/>
          <input class="form-control" th:type="${type}"
                 th:name="${name}" th:id="${name}"
                 th:placeholder="${label}" required autofocus/>
        </th:block>
        <th:block th:with="name = 'password', type = 'password', label = 'Password'">
          <label class="sr-only" th:for="${name}" th:text="${label}"/>
          <input class="form-control" th:type="${type}"
                 th:name="${name}" th:id="${name}"
                 th:placeholder="${label}" required autofocus/>
        </th:block>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                th:text="Login"/>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <p th:if="${param.error}">Invalid username and password.</p>
      <p th:if="${param.logout}">You have been logged out.</p>
    </div>
  </div>
</div>
