<!DOCTYPE html>
<!-- $Id$ -->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/prism.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark text-white">
      <div class="container">
        <a class="navbar-brand"
           th:href="${(#mvc.url('UIC#root')).build()}"
           th:text="@pom.artifactId@"/>
        <div class="navbar-expand">
          <ul class="navbar-nav">
            <li sec:authorize="hasAuthority('AUTHOR')"
                class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false"
                 th:id="${#ids.seq('dropdown')}"
                 th:href="@{''}" th:text="Author"/>
              <div class="dropdown-menu"
                   th:attr="aria-labelledby=${#ids.prev('dropdown')}">
                <a class="dropdown-item"
                   th:href="${(#mvc.url('UIC#preview')).build()}"
                   th:text="Preview"/>
              </div>
            </li>
            <li sec:authorize="hasAuthority('SUBSCRIBER')"
                class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false"
                 th:classappend="'disabled'"
                 th:id="${#ids.seq('dropdown')}"
                 th:href="@{''}" th:text="Subscriber"/>
              <div class="dropdown-menu"
                   th:attr="aria-labelledby=${#ids.prev('dropdown')}">
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false"
                 th:id="${#ids.seq('dropdown')}"
                 th:href="@{''}" th:text="Collections"/>
              <div class="dropdown-menu"
                   th:attr="aria-labelledby=${#ids.prev('dropdown')}">
                <a class="dropdown-item"
                   th:href="${(#mvc.url('UIC#authors')).build()}"
                   th:text="Authors"/>
              </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
              <a class="nav-link"
                 th:href="${(#mvc.url('UIC#login')).build()}"
                 th:text="Login"/>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link"
                 th:href="${(#mvc.url('UIC#logout')).build()}"
                 th:text="Logout"/>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <th:block th:switch="${#request.servletPath}">
        <th:block th:case="'/authors/'"
                  th:insert="~{UIController/authors.html}"/>
        <th:block th:case="'/posts/'"
                  th:insert="~{UIController/posts.html}"/>
        <th:block th:case="'/preview'"
                  th:insert="~{UIController/preview.html}"/>
        <th:block th:case="'/login'"
                  th:insert="~{UIController/login.html}"/>
        <th:block th:case="'/error'"
                  th:insert="~{UIController/error.html}"/>
      </th:block>
    </div>
    <footer class="fixed-bottom bg-dark text-white">
      <nav class="navbar navbar-dark">
        <div class="container">
          <div class="col-sm text-left">
            <p class="col-sm" th:text="${#request.servletPath}"/>
          </div>
          <div class="col-sm-3 text-center">
            <a class="btn"
               th:classappend="${compass.firstPage == null} ? disabled"
               th:href="${compass.firstPage}" th:text="'|<'"/>
            <a class="btn"
               th:classappend="${compass.prevPage == null} ? disabled"
               th:href="${compass.prevPage}" th:text="'<'"/>
            <th:block th:if="${param.page != null}"
                      th:text="${param.page[0]}"/>
            <th:block th:unless="${param.page != null}" th:text="'#'"/>
            <a class="btn"
               th:classappend="${compass.nextPage == null} ? disabled"
               th:href="${compass.nextPage}" th:text="'>'"/>
            <a class="btn"
               th:classappend="${compass.lastPage == null} ? disabled"
               th:href="${compass.lastPage}" th:text="'>|'"/>
          </div>
          <div class="col-sm text-right">
            <p sec:authorize="isAuthenticated()" sec:authentication="name"/>
          </div>
        </div>
      </nav>
    </footer>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/prism.js}"></script>
  </body>
</html>
