<!DOCTYPE html>
<!-- $Id$ -->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/prism.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
    <th:block th:insert="~{${#execInfo.templateName + '/navbar'}}"/>
    <div class="container">
      <th:block th:switch="${#request.servletPath}">
        <th:block th:case="'/login'"
                  th:insert="~{${#execInfo.templateName + '/login'}}"/>
        <th:block th:case="'/error'"
                  th:insert="~{${#execInfo.templateName + '/error'}}"/>
        <th:block th:case="*">
          <th:block th:insert="~{${'/forvm'}}"/>
        </th:block>
      </th:block>
    </div>
    <th:block th:insert="~{${#execInfo.templateName + '/footer'}}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/prism.js}"></script>
  </body>
</html>
