<!--/* $Id$ */-->
<script th:src="@{/webjars/jquery/jquery.js}" th:text="''"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}" th:text="''"/>

<script th:src="@{/webjars/prismjs/prism.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-markup.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-css.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-clike.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-javascript.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-apacheconf.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-c.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-asciidoc.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-csharp.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-bash.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-bison.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-brainfuck.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-cpp.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-clojure.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-ruby.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-css-extras.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-diff.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-markup-templating.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-erlang.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-git.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-groovy.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-http.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-ini.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-java.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-javastacktrace.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-json.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-kotlin.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-latex.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-markdown.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-lisp.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-lua.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-makefile.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-nginx.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-perl.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-php.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-php-extras.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-sql.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-properties.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-python.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-sass.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-scheme.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/components/prism-yaml.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/toolbar/prism-toolbar.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/autolinker/prism-autolinker.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/autoloader/prism-autoloader.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/command-line/prism-command-line.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/custom-class/prism-custom-class.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/data-uri-highlight/prism-data-uri-highlight.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/file-highlight/prism-file-highlight.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/highlight-keywords/prism-highlight-keywords.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/jsonp-highlight/prism-jsonp-highlight.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/keep-markup/prism-keep-markup.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/line-highlight/prism-line-highlight.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/line-numbers/prism-line-numbers.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/normalize-whitespace/prism-normalize-whitespace.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/previewers/prism-previewers.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/remove-initial-line-feed/prism-remove-initial-line-feed.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/show-language/prism-show-language.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/unescaped-markup/prism-unescaped-markup.js}" th:text="''"/>
<script th:src="@{/webjars/prismjs/plugins/wpd/prism-wpd.js}" th:text="''"/>
