<!--/* $Id$ */-->
<div class="jumbotron">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form class="form-signin" th:action="@{''}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="email"
               th:id="${#ids.seq('username')}"
               th:value="${#authentication.getPrincipal().getUsername()}"
               readonly="readonly"/>
        <input type="hidden" th:name="username"
               th:value="${#authentication.getPrincipal().getUsername()}"/>
        <label th:for="${#ids.prev('username')}"
               th:text="'E\'mail Address'"/>
        <input type="password" th:name="password"
               th:id="${#ids.seq('password')}" th:placeholder="'Old Password'"
               required autofocus/>
        <label th:for="${#ids.prev('password')}" th:text="'Old Password'"/>
        <input type="password" th:name="newPassword"
               th:id="${#ids.seq('password')}" th:placeholder="'New Password'"
               required autofocus/>
        <label th:for="${#ids.prev('password')}" th:text="'New Password'"/>
        <input type="password" th:name="repeatPassword"
               th:id="${#ids.seq('password')}" th:placeholder="'Repeat Password'"
               required autofocus/>
        <label th:for="${#ids.prev('password')}" th:text="'Repeat Password'"/>
        <button type="submit" th:text="Change"/>
      </form>
    </div>
  </div>
</div>
