<!-- $Id$ -->
<ul class="navbar-nav">
  <li sec:authorize="hasAuthority('AUTHOR')"
      class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false"
       th:id="${#ids.seq('dropdown')}"
       href="#" th:text="'Author'"/>
    <div class="dropdown-menu"
         th:attr="aria-labelledby=${#ids.prev('dropdown')}">
      <a class="dropdown-item" th:href="@{/preview/}" th:text="'Preview'"/>
    </div>
  </li>
  <li sec:authorize="hasAuthority('SUBSCRIBER')"
      class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false"
       th:classappend="'disabled'"
       th:id="${#ids.seq('dropdown')}"
       href="#" th:text="'Subscriber'"/>
    <div class="dropdown-menu"
         th:attr="aria-labelledby=${#ids.prev('dropdown')}">
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false"
       th:id="${#ids.seq('dropdown')}"
       href="#" th:text="'Collections'"/>
    <div class="dropdown-menu"
         th:attr="aria-labelledby=${#ids.prev('dropdown')}">
      <a class="dropdown-item" th:href="@{/authors/}" th:text="'Authors'"/>
    </div>
  </li>
  <li sec:authorize="!isAuthenticated()" class="nav-item">
    <a class="nav-link" th:href="@{/login}" th:text="'Login'"/>
  </li>
  <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false"
       th:id="${#ids.seq('dropdown')}"
       href="#" th:text="'Account'"/>
    <div class="dropdown-menu"
         th:attr="aria-labelledby=${#ids.prev('dropdown')}">
      <a class="dropdown-item" th:href="@{/password}" th:text="'Change Password'"/>
      <a class="dropdown-item" th:href="@{/logout}" th:text="'Logout'"/>
    </div>
  </li>
</ul>
