/* $Id$ */

/* @import "/webjars/bootstrap/css/bootstrap.css"; */
@import "META-INF/resources/webjars/bootstrap/4.3.1/scss/bootstrap";

@import "/webjars/prismjs/themes/prism-tomorrow.css";
@import "/webjars/prismjs/plugins/toolbar/prism-toolbar.css";
@import "/webjars/prismjs/plugins/autolinker/prism-autolinker.css";
@import "/webjars/prismjs/plugins/command-line/prism-command-line.css";
@import "/webjars/prismjs/plugins/line-highlight/prism-line-highlight.css";
@import "/webjars/prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "/webjars/prismjs/plugins/previewers/prism-previewers.css";
@import "/webjars/prismjs/plugins/unescaped-markup/prism-unescaped-markup.css";
@import "/webjars/prismjs/plugins/wpd/prism-wpd.css";

body {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
/*
 * HTML5Template
 */
header, footer { @extend .bg-dark, .text-white; }
header > nav > ul > li > button { @extend .bg-dark, .text-white; }
header > nav > ul > li > ul { @extend .bg-dark, .text-white; }
header > nav > ul > li > ul > li > a { @extend .bg-dark, .text-white; }

main { @extend .container; }
main > div { @extend .jumbotron; }
main > div > section { @extend .text-center; }
/*
 * forvm/*Form.html
 */
main > div > div { @extend .row, .justify-content-center; }
main > div > div > div { @extend .col-sm-6; }
form > input[type=file] { @extend .form-control-file; }
form > input { @extend .form-control; }
form > label { @extend .sr-only; }
form > button { @extend .btn, .btn-lg, .btn-primary, .btn-block; }
