/* $Id$ */

/* @import "/webjars/bootstrap/css/bootstrap.css"; */
@import "META-INF/resources/webjars/bootstrap/4.3.1/scss/bootstrap";

body {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
/*
 * HTML5Template
 */
header, footer { @extend .bg-dark, .text-white; }
header > nav > ul > li > button { @extend .bg-dark, .text-white; }
header > nav > ul > li > ul { @extend .bg-dark, .text-white; }
header > nav > ul > li > ul > li > a { @extend .bg-dark, .text-white; }
